body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
    background-color: black;
}
.carousel {
    position: relative;
    width: 66%;
    overflow: hidden;
    border-radius: 10px;
}
.carousel_inner {
    display: flex;
    transition: transform 1s ease;
}
.carousel_item {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 300px;
}
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: black;
    border: none;
    padding: 15px;
    z-index: 1;
    cursor: pointer;
}
#prev {
    left: 0px;
  }
  
  #next {
    right: 0px;
  }
  
  button:focus {
    outline: none;
  }