body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-color: darkgoldenrod;
  }
  .clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid;
    background:aqua;
  }
  .hand {
    position: absolute;
    width: 45%;
    height: 10px;
    background: black;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in;
  }
  .hour {
    height: 9px;
    background: black;
  }
  .minute {
    height: 6.5px;
    background: black;
  }
  .second {
    height: 2.5px;
    background: red;
  }